body {
  background-color: white;
  color: #121212
}

.dark-mode {
  background-color: #121212;
  color: white
}

.dark-mode h1 {
  color: #F7C41E
}

.dark-mode p {
  color: #BABABA
}

.dark-mode b {
  color: #00B692
}

.dark-mode a {
  color: #BABABA
}

.dark-mode h2 {
  color: #BABABA
}

.dark-mode h4 {
  color: #F5C33B
}

.circle-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FF2000;
  border: 0;
  cursor: pointer;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
